* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    background-color: azure;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: salmon;
    z-index: 1;
}

.navlist {
    display: flex;
    margin-right: 1rem;
}

.navlist a {
    display: block;
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: cornsilk;
}

.projects {
    padding-top: 1rem;
    background: cornflowerblue;
}

.projects > h1 {
    text-align: center;
    margin: 0 auto 4rem auto;
    max-width: 80%;
    border-bottom: 0.2rem solid #000;
}

.proj-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.proj-header {
    padding: 10px 10px;
    background: cornsilk
}

.proj-item {
    position: relative;
    width: 300px;
    height: 300px;
    border: solid 2px #000;
}

.proj-links {
    position: absolute;
    bottom: 0px;
}