@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    background-color: azure;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: salmon;
    z-index: 1;
}

.navlist {
    display: flex;
    margin-right: 1rem;
}

.navlist a {
    display: block;
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: cornsilk;
}

.projects {
    padding-top: 1rem;
    padding-bottom: 3rem;
    background: cornflowerblue;
}

.projects > h1 {
    text-align: center;
    margin: 0 auto 4rem auto;
    max-width: 80%;
    border-bottom: 0.2rem solid #000;
}

.proj-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.proj-header {
    padding: 10px 10px;
    background: cornsilk
}

.proj-item {
    position: relative;
    margin: 1rem;
    width: 23em;
    min-height: 23rem;
    border: solid 2px #000;
}

.proj-item:hover {
    box-shadow: 5px 5px;
}

.proj-tech {
    font-style: italic;
}

.proj-links {
    position: absolute;
    bottom: 0px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background: coral;
}

#cont-header {
    margin-bottom: 1rem;
}

.icons {
    margin: 1rem;
    height: 3rem;
    width: 3rem;
}